.nasha_wrapper{
    text-align: center;
    margin: 0 auto;
}
.nasha_span{
    margin-bottom: 43px;
    width: 140px;
    height: 2px;
    display: inline-block;
    border: 1px solid #DBDBDB;
    color:#DBDBDB;
}
.nasha{
    margin-bottom: 191px;
}
.nasha_text{
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
}

.nasha_wrapper{
    max-width: 860px;
}
.nashi_titel{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}
@media only screen and(max-width:900px){
.nasha_text{
    font-size: 15px;
    max-width: 600px;
    margin: 0 auto;
}

}
@media only screen and(max-width:900px){
    .nasha_text{
        max-width: 700px;
        padding-bottom: 40px;
        font-size: 15px;
        max-width: 600px;
        margin: 0 auto;
    }
    }
    @media only screen and(max-width:630px){
        .nasha_text{
            max-width: 500px;
        }
        .nashi_titel{
            font-size: 12px;
        }
        }
        @media only screen and(max-width:580px){
            .nasha_text{
                max-width: 350px;
            }
            .nashi_titel{
                font-size: 12px;
            }
            }
